div.container {
    background: lighten(black, 2.5%);
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
        width: 160px;
    }

    h2, h3 {
        font-weight: 400;
        margin: 0;

        a {
            color: white;
        }
    }
}
